* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
}

.blue {
    background-color: #0d325a;
}

.orange {
    background-color: #f8b71c;
}

.green {
    background-color: #7fb802;
}

.lightblue {
    background-color: #98c8f8;
}

/* contenitore di tutta la pagina */
.container {
    width: 100%;
    height: 1500px;
}

/* contiene le navbar e il jumbo */
header {
    /* height: nav + jumbo */
    height: 502px;
}

/* contiene logo, navbar di sinistra, navbar di destra */
nav {
    height: 82px;
}

.nav:after {
    content: "";
    display: table;
    clear: both;
}

.nav_left {
    width: 60%;
    height: 82px;
    background-color: green;
    float: left;
}

.nav_logo {}

.nav_menu {
    display: inline-block;
}

.nav_right {
    width: 40%;
    height: 82px;
    background-color: yellow;
    float: right;
}

.jumbo {
    height: 420px;
    background-color: cyan;
}

.jumbo:after {
    content: "";
    display: table;
    clear: both;
}

.jumbo_left {
    width: 50%;
    height: 420px;
    background-color: gold;
    float: left;
}

.jumbo_right {
    width: 50%;
    height: 420px;
    background-color: lightblue;
    float: right;
}

.jumbo_right img {
    width: 100%;
}

.jumbo_text {
    background-color: lightgreen;
}

.jumbo_button {
    background-color: lightyellow;
}