* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: 0;
    font-family: 'Lato', sans-serif;
}

.blue {
    background-color: #0d325a;
}

.orange {
    background-color: #f8b71c;
}

.green {
    background-color: #7fb802;
}

.lightblue {
    background-color: #98c8f8;
}

/* contenitore di tutta la pagina */
.container {
    width: 100%;
    height: 1500px;
}

.btn {
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    border: 1px solid;
}

/* contiene le navbar e il jumbo */
header {
    /* height: nav + jumbo */
    height: 502px;
}

/* contiene logo, navbar di sinistra, navbar di destra */
nav {
    height: 82px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

/* override sulle impostazioni del browser per i tag <a> */
nav a {
    color: white;
    text-decoration: none;
}

.nav:after {
    content: "";
    display: table;
    clear: both;
}

.nav_left {
    width: 60%;
    height: 82px;
    background-color: green;
    float: left;
}

.nav_logo {
    margin: 22px 20px 22px 100px;
    display: inline-block;
}

.nav_logo img {}

.nav_menu_left {
    border: 1px solid yellow;
    display: inline-block;
}

.nav_menu_left ul li {
    display: inline-block;
    padding-left: 10px;
}

.nav_menu_left ul li a:hover {
    color: orange;
    cursor: pointer;
}

.nav_right {
    width: 40%;
    height: 82px;
    float: right;
}

.nav_menu_right {
    border: 1px solid yellow;
}

#login_btn {
    background: rgba(0, 0, 0, 0);
    padding: 8px 25px;
    margin: 0 10px 0 10px;
}

#struttura_btn {
    padding: 8px 10px;
}

.jumbo {
    height: 420px;
    background-color: cyan;
}

.jumbo:after {
    content: "";
    display: table;
    clear: both;
}

.jumbo_left {
    width: 50%;
    height: 420px;
    background-color: gold;
    float: left;
}

.jumbo_right {
    width: 50%;
    height: 420px;
    background-color: lightblue;
    float: right;
}

.jumbo_right img {
    width: 100%;
}

.jumbo_text {
    background-color: lightgreen;
}

.jumbo_button {
    background-color: lightyellow;
}

#jumbo_btn {
    padding: 12px 14px;
}